/* from lecture 1 code */
.skip-link{
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  padding: 0.6rem 0.8rem;
  background: var(--accent2);
  border: 2px solid var(--accent3);
  border-radius: 10px;
  color: var(--parchment);
  text-decoration: none;
  transform: translateY(-200%);
}
.skip-link:focus{
  transform: translateY(0);
  outline: 3px solid var(--focus);
  outline-offset: 3px;
}

/* for carousel from https://codingyaar.com/bootstrap-carousel-slider-with-thumbnails/ */
.carousel-indicators {
    position: static;
}
.carousel-indicators li {
  width: 200px;
  height: 100%;
  opacity: 0.8;
}
.carousel-indicators data-bs-target{
  width: 200px;
}
.carousel-indicators data-bs-target:not(.active){
  opacity: 0.8;
}

/* to get rid of the numbers on the ordered list of the carousel indicators */
.carousel-indicators li{
  list-style: none;
}

/* styling for the lists in the information section of the parks pages */
.information ul{
  margin: 0px 30px
}

/*  */