:root {
    --parchment: #f4f1de;
    --ink: #001219;
    --accent1: #E3876D;
    --accent2: #3d405b;
    --accent3: #81b29a;
    --accent4: #f2cc8f;
    --links: #004966;
}

*{
    font-family: 'Atkinson-Hyperlegible', 'sans-serif';

}

nav{
    background-color: var(--accent3);

}

nav ul {
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li{
}

nav details ul{
    display: flex;
    flex-direction: column;
}

/* this class is for the nav bar */
.current{

}

/* set text size, line height, color, background-color, */
body{
    background-color: var(--parchment);
    color: var(--ink);
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-size: 3rem;
    line-height: 2;
    font-weight: bold;
    /* padding: 0px 20px 0px; */
    /* margin: auto; */
}

h2{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2;

}

/* to style hidden links for the parks list page, so if you click on the park name instead of the "more" button, it will still work */
.h2-link{

}

/* .information{
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    border: 5px solid purple;
} */

/* .information section{
    border: 2px dotted blue;
    display: flex;
    flex-direction: row;
} */

.information{
    display: grid;
    grid-template-columns: 90%;
}

/* add transitions, animations, and prefers-reduced-motion media query */
/* add transitions for as things load in on the page to look cool */
/* maybe add a transition to an accordion (maybe in a Q&A section or parks list if I offer a blurb about each park) and turn it off in prefers reduced motion */



/* back-to-top links */
/* add this functionality? https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
.back-to-top{
    
}

/* carousel */
/* .carouselExampleIndicators {
    display: grid;
    grid-template-columns: 80%;
    margin: 30px;

} */

.carousel-control-next, .carousel-control-prev {
  color: var(--parchment);
  background-color: var(--ink);
}

.prev{
    background-color: var(--accent1);
}

.accessibility-info p{
    margin: 0px 0px 0px 30px;
}




/* media queries */
/* tablet size */
@media screen and (min-width: 600px){
    /* Inspired by https://www.youtube.com/watch?v=JYfiaSKeYhE */
    /* to make the grid for desktop for the park pages */
    .information{
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 200px 200px;
        grid-template-areas: 
        "box-1 box-2"
        "box-1 box-3";
        margin: 20px 0px 0px 0px;
    }
}

/* desktop size */
@media screen and (min-width: 1000px){
    .information{
        grid-template-columns: 400px 400px;
        grid-template-rows: 200px 200px;

    }
}