:root {
  --primary-bg-color: #fcfcec; /* global scope */
  --primary-text-color: #191b1c;
  --accent-1-color: #005746;
  --accent-2-color: #990f4b;

  --dark-primary-bg-color: #1c2021;
  --dark-primary-text-color: #fcfcec;
  --accent-1-color: #00c29e;
  --accent-2-color: #de94ba;
}



h1{
    background-color: var(--primary-bg-color);
    color: var(--accent-2-color)
}
h2{
    background-color: var(--primary-bg-color);
    color:var(--accent-1-color)
}
p{
    background-color: var(--primary-bg-color);
    color:var(--primary-text-color)
}